body { 
    background-color: #0478e5;
    font-family: 'Kanit', sans-serif;}
    form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      
      #address {
        width: 40%;
        margin-right: 10px;
      }
      
      #filterByTrade {
        width: 20%;
        margin-right: 10px;
      }
      
      #connectToProfessional {
        width: 20%;
      }
      
    nav {
        background-color: #E5C3A6;
        color: #176B87;
        padding: 10px;
    margin-bottom: 30px;}
    nav a {color: #0e1011;}
    nav a:hover {background-color: #11a5d6;}
    .size {
        width: 150px; /* Adjust the width as needed */
        height: auto;
    }
    @media screen and (max-width: 768px) {
        nav a {
          width: 100%;
          display: block;
        }
      }
      @media screen and (max-width: 768px) {
        nav span {
          display: none;
        }
      }
      @media screen and (max-width: 768px) {
        nav a {
          width: 100%;
          display: block;
          margin: 5px 0; /* Adjust the top and bottom margin as needed */
        }
      }
    