body {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1,h2 {color: #E5C3A6;}
.evenrow {
    background-color: #4B527E;
}
body { 
    background-color: #E55604;}
    
   nav {
    background-color: #E5C3A6;
    color: #176B87;
    padding: 10px;
margin-bottom: 30px;}
nav a {color: #176B87;}
nav a:hover {background-color: #11a5d6;}
.size {max-width: 100%;}
@media screen and (max-width: 768px) {
    nav a {
      width: 100%;
      display: block;
    }
  }
  @media screen and (max-width: 768px) {
    nav span {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    nav a {
      width: 100%;
      display: block;
      margin: 5px 0; /* Adjust the top and bottom margin as needed */
    }
  }
  