body {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
h1,h2 {color: red;
        font-size: 1em;}
.evenrow {
    background-color: lightblue;
}

